.bjWhite {
	background: #ffffff;
	border-radius: 5px;
	border: 1px solid #dbdbdb;
	margin:auto 0.5rem;
	padding-top: 0.4rem;
}
.bjWhite ul {
	display: -moz-box;
	display: -webkit-box;
	display: box;
	line-height: 3.3rem;
	width: 97.6%;
	margin: 0;
	padding: 0 0.3rem;
	border-bottom: 1px solid #dbdbdb;
}
.bjWhite ul li {
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;
	color: #dbdbdb;
	font-size: 1.0rem;
	cursor: pointer;
	list-style: none;
	padding-left: 3rem;
}
.bjWhite ul li i {
	display: block;
	font-style: normal;
}
.bjWhite ul li:nth-child(1) {
	background: url(../images/ms_icon1.png) no-repeat 0.6rem center;
	background-size: 1.8rem auto;
}
.bjWhite ul li:nth-child(2) {
	background: url(../images/ms_icon2.png) no-repeat 0.6rem center;
	background-size: 1.8rem auto;
}
.bjWhite ul li:nth-child(3) {
	background: url(../images/ms_icon3.png) no-repeat 0.6rem center;
	background-size: 1.8rem auto;
}
.bjWhite ul .hover {
	color: #3d3d3d;
}
.bjWhite ul .hover i {
	background: rgba(0, 0, 0, 0) url(../images/h5_frame_tab_arrow.png) no-repeat scroll 0.6rem bottom / 1.4rem auto;
}
.seckill {
	width: 100%;
	min-height: 100%;
	background: url(../images/miao_head.png) no-repeat center top #f4f4f4;
	background-size: 100% auto;
	padding-top: 2.5rem;
}
.seckill .oSec {
	width: 100%;
	height: 100%;
	display: none;
}
.miaosha {
	width: 100%;
	height: 100%;
}
.bottom {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.miaosha .item {
	background-color: white;
	border: 1px solid #d2d2d2;
	border-radius: 10px;
	float: left;
	margin-left: 3%;
	margin-bottom: 10px;
	overflow: hidden;
	width: 45%;
}
.miaosha .item h3 {
	font-size: 0.9rem;
	font-weight: normal;
	height: 1.7rem;
	line-height: 2.2rem;
	margin: 8px auto;
	overflow: hidden;
	position: relative;
	width: 90%;
	color: #3d3d3d;
}
.miaosha .item .bottom .xianjia {
	color: #e8541b;
	float: left;
	font-size: 0.7rem;
	font-weight: bolder;
	line-height: 40px;
}
.miaosha .item .bottom .huajia {
	color: gray;
	float: left;
	font-size: 0.5rem;
	font-weight: bolder;
	line-height: 40px;
	margin-left: 5px;
	text-decoration: line-through;
}
.miaosha .item .bottom .buy {
	background-color: #fefc83;
	border-radius: 8px;
	float: right;
	font-size: 0.9rem;
	height: 30px;
	line-height: 30px;
	margin-top: 5px;
	text-align: center;
	width: 40px;
	color: #3d3d3d;
}
.miaosha .item p {
	color: #989898;
	display: block;
	font-size: 0.8rem;
	height: 2.4rem;
	line-height: 1.2rem;
	margin: 2px auto 0 10px;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	width: 90%;
}
.miaosha .item .itempic {
	border-radius: 5px;
	display: block;
	height: auto;
	margin: 0 auto;
	max-width: 99%;
	width: 99%;
}
.am {
	border-radius: 5px;
	margin-top: 0.1rem;
	overflow: hidden;
	padding-left: 3%;
	width: 97%;
}
.am dl {
	margin: 0.5rem 0;
	padding: 0;
	overflow: hidden;
}
.am dl dd {
	float: left;
	width: 45%;
	position: relative;
}
.mask {
	background: url(../images/h5_Mask.png) no-repeat center center;
	width: 99.3%;
	height: 100%;
	bottom: 0px;
	position: absolute;
	z-index: 9999;
	color: #fff;
	border-radius:0.6rem;
	border:1px solid #cccccc;
	background-size:15.3rem auto;
}
.mask p {
	background-color: rgba(0, 0, 0, 0.8);
	bottom: 0;
	height: 20px;
	line-height: 20px;
	opacity: 0.8;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.am dl dd .ImgBor{
	border: 1px solid #cccccc;
    border-radius: 0.5rem;
    height: auto;
    margin: 0 auto;
    max-width: 99%;
    width: 99%;
	overflow:hidden;
}
.am dl dd .ImgBor img{
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    width:100%;
	border:0;
}


.am dl dt {
	float: left;
	padding-left: 0.9rem;
	width: 47.7%;
}
.am dl dt h3, .am dl dt p {
	display: block;
	height: 2.8rem;
	line-height: 1.4rem;
	overflow: hidden;
	text-overflow: ellipsis;
}
.am dl dt h3 {
	color: #3d3d3d;
	font-size: 1rem;
	font-weight: normal;
}
.am dl dt p {
	font-size: 0.9rem;
	margin-top: 0.5rem;
	color: #9898a5;
	margin-bottom: 1rem;
}
.seckillBuy,.seckillBuyMask {
    border-radius: 17px;
	font-size: 0.9rem;
	height: 30px;
	line-height: 30px;
	margin-top: 0.5rem;
	text-align: center;
	width: 5.5rem;
	float: right;
	color: #fff;
}
.seckillBuy{
  background-color: #ec5a1c; 
}
.seckillBuyMask {
	background: #dedede;
}

.meitains {
	font-size: 1.3rem;
	line-height: 3.1rem;
	overflow: hidden;
	text-align: center;
	width: 100%;
	color: #9c9c98;
}
.djTime {
	background: #f07a48 none repeat scroll 0 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #e4393c;
	font-size: 1.1rem;
	height: 1.7rem;
	line-height: 1.5rem;
	position: absolute;
	right: 0px;
	top: 1px;
	width: 10rem;
	color: #ffffff;
	padding-top: 0.2rem;
	font-size: 0.8rem;
}
.djTime i {
	font-style: normal;
	display: block;
	float: left;
	padding-right: 5px;
	background: #e15621;
	border-radius: 5px;
	width: 0.8rem;
	padding: 0 0.3rem;
}
.djTime i:nth-child(1) {
	width: 3.6rem;
	background: none;
}
.djTime em {
	display: block;
	color: #fff;
	float: left;
	padding-right: 0.2rem;
	padding-left: 0.2rem;
	font-style: normal;
}
.TitH3 {
	paddding: 0;
	margin: 0 1.5rem;
	line-height: 4rem;
	height: 4rem;
	font-weight: normal;
	color: #9c9c98;
	text-align: center;
	background:url(../images/lineg.jpg) repeat-x left 2.1rem;
}
.TitH3  i{ font-style:normal; background:#f4f4f4; padding:0 0.8rem;
	}
.cost {
	line-height: 3.3rem;
	height: 3.3rem;
	color: #e8541b;
	float: left;
	font-size: 1.2rem;
}
 @media screen and (max-width: 320px) {
html {
	font-size: 13px
}
.djTime{
	width:10.1rem;
	}
}
 @media screen and (min-width: 321px) and (max-width: 479px) {
html {
	font-size: 15px
}
.WhiteBlock {
}
 @media screen and (min-width: 480px) and (max-width: 639px) {
 html {
 font-size: 15.5px
}
}
/**/
@media screen and (min-width:640px) and (max-width:719px) {
html {
	font-size: 16px;
}
.seckill {
	padding-top: 3rem;
	background: url(../images/miao_head.png) no-repeat center top;
	background-size: 100% 2.4rem;
}
.djTime {
	width: 14.7rem!important;
}
.djTime i:nth-child(1) {
	width: 5.4rem!important;
}
.djTime i {
	width: 1.2rem!important;
}

.djTime i:nth-child(1) {
    padding-right: 0.5rem;
    text-align: right;
    width: 3.6rem;
}

}

