body {
	background-color: #f4f4f4;
    margin: 0 auto;
	max-width: 650px;
	min-width: 240px;
	overflow-x: hidden;
}
* {
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei";
	-webkit-text-size-adjust: none;
}
h3 {
	margin: 0;
	padding: 0;
}
::-webkit-input-placeholder { /* WebKit browsers */
color: #989898;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color: #989898;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
color: #989898;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
color: #989898;
}
input[type="button"], input[type="submit"], input[type="reset"] {
	-webkit-appearance: none;
}
textarea {
	-webkit-appearance: none;
}
a, button, input, textarea {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-user-modify: read-write-plaintext-only;
}
html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
	-webkit-touch-callout: none;
}
body {
	background-size: 100% auto;
}
/*login*/
.CanDownload {
	position: fixed;
	bottom: 0;
	height: 2.8rem;
	border-top: 1px solid #ccc;
	text-align: center;
	width: 100%;
	line-height: 2.8rem;
	font-size: 1.2rem;
	color: #989898;
	background: #fff;
}
.WhiteBlock {
	bottom: 10%;
	height: 11.8rem;
	margin: 0 auto;
	position: fixed;
	width: 100%;
}
.WhiteBlockIn {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 5px;
	height: 11.7rem;
	margin: 0 auto;
	width: 88%;
	border: 1px solid #ccc;
}
.WhiteBlockIn .PhBtn, .Receive {
	width: 90%;
	margin-left: 4.6%;
}
.WhiteBlockIn .PhBtn {
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #3D3D3D;
	margin-top: 1.3rem;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	text-indent: 0.6rem;
	vertical-align: middle;
}
.SelectW {
	margin-top: 18px;
	padding-left: 2.5rem;
	font-size: 1.0rem;
	background: url(../images/yhqcheck.png) no-repeat 5.2% center;
	background-size: 1.2rem;
	color: #3D3D3D;
	height: 1.5rem;
	vertical-align: middle;
	line-height: 1.5rem;
}
.Receive {
	border-radius: 1.2rem;
	color: #fff;
	line-height: 2.4rem;
	height: 2.4rem;
	margin-top: 20px;
	text-indent: 0.6rem;
	background: #EC5A1C;
	text-align: center;
	display: block;
	text-decoration: none;
	font-size: 1.1rem;
}
/*red*/

.redBlock {
	bottom: 10%;
	height: 19.8rem;
	margin: 0 auto;
	position: fixed;
	width: 100%;
}
.redBlockIn {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 5px;
	height: 18.7rem;
	margin: 0 auto;
	width: 88%;
	border: 1px solid #DEDBDB;
}
.redBlockIn .Package-bj {
	height: 10.7rem;
	left: 2rem;
	margin: auto 0;
	position: absolute;
	text-align: center;
	top: -2.5rem;
	width: 93%;
	background: url(../images/yhqPackage.png) no-repeat center center;
	background-size: 15.1rem 10.7rem;
}
.redBlockIn .Package-bj h3 {
	color: #ec5a1c;
	font-weight: 100;
	margin-top: 1.2rem;
}
.PackageTxt {
	margin-top: 8.8rem;
	text-align: center;
}
.PackageTxt p {
	color: #3D3D3D;
	font-size: 0.9rem;
	height: 1.8rem;
	line-height: 1.4rem;
}
.ImmediateUse, .friends {
	border-radius: 27.4px;
	display: block;
	height: 2.7rem;
	line-height: 2.7rem;
	width: 90%;
	margin: 0.8rem auto 0;
	
}
.ImmediateUse {
	background: #EC5A1C;
	color: #ffffff;
}
.friends {
	background: #ffffff;
	border: 1px solid #CCCCCC;
	color: #3D3D3D;
}
.friendsImg {
	position: fixed;
	top: 0;
	height: 76px;
	width: 100%;
	padding: 0;
	margin: 0;
	right: 0;
	background-size: auto;
	display: none;
	text-align: right;
}
.friendsImg img {
	border: 0 none;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}
.big {
	width: 100%;
	height: 100%;
	position: relative;
	display: none;
}
.small {
	width: 182px;
	height: 50px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -91px;
	margin-top: -25px;
	background: #fff;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
}

/*shipei*/
@media screen and (max-width:320px) {
html {
	font-size: 14.5px
}
.WhiteBlock {
	bottom: 20%;
}
.redBlockIn .Package-bj {
	width: 80%;
}
}
@media screen and (min-width:321px) and (max-width:479px) {
html {
	font-size: 15px
}
.WhiteBlock {
	bottom: 20%;
}
.redBlockIn .Package-bj {
	width: 83%;
}


}
@media screen and (min-width:480px) and (max-width:639px) {
html {
	font-size: 15.5px
}

}
 @media screen and (min-width:640px) and (max-width:719px) {
html {
	font-size: 16px
}
}
@media screen and (min-width:720px) and (max-width:749px) {
html {
	font-size: 17.5px
}
}
@media screen and (min-width:750px) and (max-width:30000px) {
html {
	font-size: 18px
}
.WhiteBlock {
	bottom: 10%;
}
html {
	font-size: 18px
}
.SelectW {
	padding-left: 5.1rem;
}

/*ms*/
.seckill {
	padding-top: 3rem;
	background: url(images/miao_head.png) no-repeat center top;
	background-size: 100% 2.4rem !important;
}
.seckillBuy, .seckillBuyMask {
	line-height: 43px!important;
	height: 43px!important;
	
}
.am dl dt p {
	margin-bottom: 3.8rem!important;
}
.cost {
	font-size: 1.6rem!important;
}
.djTime {
	width: 14.7rem!important;
}
.djTime i:nth-child(1) {
	width: 5.4rem!important;
}
.djTime i {
	width: 1.2rem!important;
}
.djTime i:nth-child(1) {
	padding-right: 0.5rem;
	text-align: right;
	
	width: 3.6rem;
}
.bjWhite{
	margin:auto 1.1rem!important;
	}

}


